<div *ngIf="!loggedIn">
  <h2>Sign in with LinkedIn</h2>
  <p>
    <button (click)="showPopup()">Inicia sesión con permisos de login</button>
  </p>
  <p>
    <button (click)="showPopupPermisosPosts()">Inicia sesión con permisos de publicar</button>
  </p>
</div>
<div *ngIf="loggedIn">
  <p><img src="{{user.profileImageURL}}" alt=""></p>
  <p>{{user.firstName}}</p>
  <p>{{user.lastName}}</p>
  <p>{{user.email}}</p>
  <p>Expira en : {{fecha_expiracion | date: 'dd/MM/yyyy H:m'}}</p>
  <p><button (click)="refresh()">Refresca</button></p>
  <p><button (click)="postData()">Envia datos</button></p>

</div>
<router-outlet></router-outlet>
